<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <style>
        @media print {
            @page {
                size: A4;
                margin: 10mm;
                padding: 0;
            }
        }

        @media not print {
            .main-div {
                padding: 10mm;
            }
        }

        html {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            min-height: 100%;
        }

        .jost-main {
            font-family: "Jost", "Jost Fallback", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
        }
    </style>

    <title>{{ data.name }}</title>
</head>
<body>

{% include "utils.html.jinja" %}
<main class="jost-main">
    <div class="page flex relative justify-center bg-zinc-500 print:bg-none">
        <div class="main-div m-0 flex min-h-[297mm] relative w-[210mm] flex-col bg-white text-base print:bg-none"
             id="cv">
            <div class="flex w-full gap-9 flex-col">
                <div class="flex w-full flex-col-reverse gap-6 justify-between sm:flex-row">
                    <div class="flex flex-col gap-1.5">
                        <div class="flex flex-col">
                            {% include "name.html.jinja" %}
                            {% include "summary.html.jinja" %}
                        </div>

                        <div class="flex flex-col gap-0.5">
                            {% for location in data.locations %}
                            {% include "location.html.jinja" %}
                            {% endfor %}
                        </div>

                        <div class="mt-1.5 flex flex-col gap-3">
                            {% include "links.html.jinja" %}
                        </div>
                    </div>

                    <div class="flex bg-aluminum sm:bg-transparent">
                        {% include "avatar.html.jinja" %}
                    </div>
                </div>

                <div class="flex w-full gap-9 flex-col">
                    {% include "about.html.jinja" %}

                    <!-- Help resume={resume} class="hidden"/ -->

                    <!-- Technologies resume={resume} class="hidden"/ -->
                </div>


                {% include "experiences.html.jinja" %}

                {% include "educations.html.jinja" %}

                <!-- {resume.skills.length ? <Skills resume={resume} class=""/> : <></>} -->

                {% include "languages.html.jinja" %}

                <!-- {resume.projects.length ? <Projects resume={resume} class=""/> : <></>} -->
            </div>
        </div>
    </div>
</main>
</body>
</html>
