<div class="flex flex-col gap-3 w-full">
    {{heading(2, "Education")}}
    <div class="flex w-full gap-3 flex-col">
        {% for education in data.educations %}
        <div class="flex flex-col">
            <div class="flex justify-between items-center">
                <div class="flex items-center gap-1.5">
                    {% if education.link %}
                    <a href={{education.link}}
                       target="_blank"
                       class="text-left font-bold hover:underline">
                        {{education.name}}
                    </a>
                    {% else %}
                    <p class="text-left font-bold">
                        {{education.name}}
                    </p>
                    {% endif %}

                    <div class="flex items-center gap-1.5">
                        {% for badge in education.badges %}
                        <span class="inline-flex items-center rounded-md border px-2 py-0.5 text-sm font-bold transition-colors focus:outline-none text-nowrap border-transparent bg-black/5 text-black">
                            {{badge}}
                        </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="italic">{{education.start}} - {{education.end if education.end else "Present"}}</div>
            </div>
            <div>{{education.title}}</div>
            <div class="text-sm w-full text-black/70">
                {{education.description|trim|replace('\n\n', '<br>')}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
