<div class="flex gap-2 items-center">
    <a href="mailto:{{data.email}}"
       title="{{data.email}}"
       target="_blank"
       class="flex items-center gap-1.5 hover:underline text-sm text-black/80"
    >
        <i class="fa-solid fa-envelope fa-lg"></i>
        {{data.email}}
    </a>

    {% for social in data.socials %}
    <a href="{{social.link}}"
       title="{{social.name}}"
       target="_blank"
       class="flex items-center gap-1.5 hover:underline text-sm text-black/80"
    >
        <i class="fa-brands fa-{{social.name}} fa-lg"></i>
        @{{social.link|split('/')|last}}
    </a>
    {% endfor %}
</div>
